body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    background-color: #9dc7e6e0 !important;
}

.centric_container {
    width: 50%;
    padding: 10px;
    margin-top: 200px;
    text-align: center;
  }

h3{
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.desc{
    margin-top: 10px;
}

.desc p{
    margin: 0;
    font-size: 18px;
    color: grey;
}

.form-inline, .place{
    margin-top: 60px;
}

.input-style{
    height: 60px !important;
    font-size: 21px !important;

}

.btn-style{
    height: 60px !important;
    width: 160px !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.btn-primary {
    background-color: #232425 !important;
    border-color: #232425 !important;
}

.bottom p{
    margin-top: 30px;
}

img{
    width:240px
}
@media (min-width: 768px){
    .form-inline .form-control {
        width: 500px !important;
        margin-right: 20px;
    
    }
}

